body::before{
    display: block;
    content: '';
    height: 60px;
}
iframe{
    display: flex;
    width: 90%;
}


@media  (min-width: 768px){
    .news-input{
        width : 50%;
    }
}
